<!DOCTYPE html>
<html lang="en">

<head>
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
</head>

<body>
    <div id="page">
        <div id="center">
            <h1>
                <%=title%>
            </h1>
            <table id="camps"></table>
            <script id="temp" type="text/x-handlebars-template">
                <tr>
                    <th width=100>번호</th>
                    <th width=200>캠핑장명</th>
                    <th width=400>캠핑장주소</th>
                </tr>
                {{#each .}}
                <tr>
                    <td width=100>[{{id}}]</td>
                    <td width=200>{{name}}</td>
                    <td width=400>{{address}}</td>
                </tr>
                {{/each}}
            </script>
        </div>
    </div>

</body>
<script>
    getCamp();
    function getCamp() {
        $.ajax({
            type: "get",
            dataType: "json",
            url: "/camp/list",
            success: function (data) {
                let template = Handlebars.compile($("#temp").html());
                $("#camps").html(template(data));
            }
        });
    }
</script>

</html>