<form name="frm" method="post" action="insert" enctype="multipart/form-data">
    <table>
        <tr>
            <th width=100 class="title">상품이름</th>
            <td width=500><input type="text" name="title" size=20></td>
        </tr>
        <tr>
            <th width=100 class="title">상품가격</th>
            <td width=500><input type="text" name="price" size=20>\</td>
        </tr>
        <tr>
            <th width=100 class="title">이미지</th>
            <td>
                <img src="http://placehold.it/150x170" id="image" style="cursor: pointer; width:150px"> 
                <input type="file" name="image" style="display: none;">
            </td>
        </tr>
    </table>
    <div id="buttons">
        <input type="submit" value="상품등록" class="button">
        <input type="reset" value="등록취소" class="button">
        <input type="button" value="목록" class="button" onclick="location.href='/'">
    </div>
</form>

<script>
    //submit버튼을 누른경우
    $(frm).on("submit", function(e){
        e.preventDefault();
        var title=$(frm.title).val();
        var price=$(frm.price).val();
        var image=$(frm.image).val();

        if(title==""){
            alert("상품이름 입력하시라요")
            $(frm.title).focus();
        }else if(price==""){
            alert("상품가격 입력하라우 동무")
            $(frm.price).focus();
        }else{
            if(!confirm("상품을 등록하시라요?")) return;
            frm.submit();
        }
    });
    //이미지를 클릭한경우
    $("#image").on("click",function(){
        $(frm.image).click();
    });
    
    //이미지미리보기
    $(frm.image).on("change", function(e){
        var reader=new FileReader();
        reader.readAsDataURL(this.files[0])
        reader.onload=function(e){
            $("#image").attr("src", e.target.result);
        }
    });
</script>