<style>
    .box img {
        width: 150px;
        border-radius: 50px;
        border: 5px solid yellow;
        cursor:pointer;
    }

    .box .title {
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis; /*말줄임표*/
        white-space: nowrap;
        color: white;
    }


    #container {
        width: 900px;
        overflow: hidden;
        margin: 0 auto;
        margin-top: 30px;
    }

    .box {
        width: 200px;
        float: left;
        margin-left: 15px;
        margin-bottom: 20px;
        border: 2px solid gray;
        border-radius: 30px;
        background-color: violet;
        height: 250px;
    }

    #condition {
        width: 880px;
        margin: 0 auto;
        padding: 20px;
        border-bottom: 1px dotted gray;
    }
    .title{
        color:green;
        text-align: center;
    }
</style>
<div id="condition">
    <input type="text" placeholder="검색어" id="word">
    <button id="search">검색데이터</button>
    검색데이터<span id="total"></span>건
</div>
<div id="container">
</div>
<script id="temp" type="text/x-handlebars-template">
    {{#each rows}}
    <div class="box">
        <img src="/images/{{image}}" onclick="location.href='/food/read?code={{code}}'">
        <div class="title">[{{code}}]{{title}}</div>
        <div>{{fprice}}</div>
    </div>
    {{/each}}
</script>
<div id="buttons">
    <button id="prev">이전</button>
    <span id="curpage"></span>
    <button id="next">다음</button>
</div>
<script>
    var page = 1;
    var word = $("#word").val();
    getfood();

    $("#word").on('keydown', function (e) {
        if (e.keyCode == 13) $("#search").click();
    });
    $("#search").on("click", function () {
        word = $("#word").val();
        page = 1;
        getfood();
    });

    $("#prev").on("click", function () {
        page--;
        getfood();
    });
    $("#next").on("click", function () {
        page++;
        getfood();
    });

    function getfood() {
        $.ajax({
            type: "get",
            dataType: "json",
            url: "/food/list",
            data: { page: page, word: word },
            success: function (data) {
                var template = Handlebars.compile($("#temp").html());
                $("#container").html(template(data));
                var lastpage = Math.ceil(data.total / 4);
                $("#curpage").html(page + '/' + lastpage);
                $("#total").html(data.total);

                if (page == 1) {
                    $("#prev").attr("disabled", true);
                } else {
                    $("#prev").attr("disabled", false);
                }

                if (page == lastpage) {
                    $("#next").attr("disabled", true);
                } else {
                    $("#next").attr("disabled", false);
                }
            }
        })
    }
</script>