<!DOCTYPE html>
<html>

<head>
  <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.js"></script>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/common.css' />
</head>

<body>
  <div id="page">
    <div id="top">
      <h1>
        <%=title%>
      </h1>
    </div>
    <div id="center">
      <div style="width:900px; margin:0px auto;">
       <h2><a href="/address/insert">주소등록</a></h2>
      </div>
      <table id="tbl"></table>
      <script id="temp" type="text/x-handlebars-template">
        <tr class="title">
          <th width=100>번호</th>
          <th width=100>성명</th>
          <th width=200>전화번호</th>
          <th width=400>주소</th>
        </tr>
        {{#each .}}
        <tr class="row" onclick="location.href='/address/read?id={{id}}'">
          <td>{{id}}</td>
          <td>{{name}}</td>
          <td>{{tel}}</td>
          <td>{{address}}</td>
        </tr>
        {{/each}}
      </script>
    </div>
    <div id="bottom">
      <h5>Copyright 2022. 인천일보아카데미 All Rights Reserved.</h5>
    </div>
</body>
<script>
  getaddress();
  
  function getaddress() {
    $.ajax({
      type: "get",
      dataType: "json",
      url: "/address",
      success: function (data) {
        var template = Handlebars.compile($("#temp").html());
        $("#tbl").html(template(data));
      }
    });
  }
</script>

</html>